<div class="row">
  <div class="col-md-6">
    <legend>{{item?.name}}</legend>
    <dl class="row">
      <dt class="col-sm-3">Title</dt>
      <dd class="col-sm-9">{{item?.title}}</dd>
    
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{item?.description}}</dd>
    
      <dt class="col-sm-3">Price</dt>
      <dd class="col-sm-9">{{item?.price}}</dd>
    
      <dt class="col-sm-3">Category</dt>
      <dd class="col-sm-9">{{item?.itemCategory?.description}}</dd>
    
      <dt class="col-sm-3">Created</dt>
      <dd class="col-sm-9"> {{item?.createdDate | date:'medium'}}</dd>
    </dl>

    <button mat-raised-button color="primary" [routerLink]="['edit']">Edit</button>
    <button mat-raised-button color="warn" (click)="delete(item)">Delete</button>
    <hr>
    <legend>Reviews:</legend>
    <div *ngFor="let review of item?.reviews">
      <p>{{review.title}}</p>
      <p>{{review.description}}</p>
      <p>{{review.rating}} / 5</p>
      <p>{{review.createdDate | date:'medium'}}</p>
    </div>
  </div>
  <div class="col-md-6" *ngIf="item?.images.length > 0">
    <legend>Images:</legend>
    <ngb-carousel class="col-md-6">
      <span *ngFor="let image of item?.images">
        <ng-template ngbSlide>
          <img class="figure-img img-fluid" src="{{env.apiBaseURL}}{{image.path}}" width="100%" alt="{{image.fileName}}">
        </ng-template>
      </span>
    </ngb-carousel>
  </div>
  
</div>
<div class="col-md-6 row">
  <button (click)="addReview()" mat-raised-button color="accent" [disabled]="!isLoggedIn()">
    {{addReviewButtonText}}
  </button>

  <ng-container *ngIf="showAddReviewForm">
    <app-review-form></app-review-form>
  </ng-container>
</div>