<div class="row">
  <div class="col-md-6">
    <legend>Item</legend>
    <p>{{item?.id}}</p>
    <p>{{item?.title}}</p>
    <p>{{item?.description}}</p>
    <p>{{item?.price}}</p>
    <p>{{item?.createdDate | date:'medium'}}</p>
    <p>{{item?.name}}</p>

    <button mat-raised-button color="primary" [routerLink]="['edit']">Edit</button>
    <button mat-raised-button color="warn" (click)="delete(item)">Delete</button>
    <hr>
    <legend>Reviews:</legend>
    <div *ngFor="let review of item?.reviews">
      <p>{{review.title}}</p>
      <p>{{review.description}}</p>
      <p>{{review.rating}} / 5</p>
      <p>{{review.createdDate | date:'medium'}}</p>
    </div>
  </div>
  <div class="col-md-6">
    <legend>Images:</legend>
    <ngb-carousel class="col-md-6">
      <span *ngFor="let image of item?.images">
        <ng-template ngbSlide>
          <img class="figure-img img-fluid" src="{{env.apiBaseURL}}{{image.path}}" width="100%" alt="{{image}}">
        </ng-template>
      </span>
    </ngb-carousel>
  </div>
  <div class="col-md-6">
    <button (click)="addReview()" mat-raised-button color="accent" [disabled]="!isLoggedIn()">
      {{addReviewButtonText}}
    </button>

    <ng-container *ngIf="showAddReviewForm">
      <app-review-form></app-review-form>
    </ng-container>
  </div>
</div>